<launch>
<node
	pkg="my_id_robot"
	type="main_id_subscriber"
	name="subscriber"
	/>
<node
	pkg="my_id_robot"
	type="id_continuous"
	name="voice"
	launch-prefix="lxterminal -e"
	/>			  
<node
	pkg="my_id_robot"
	type="main_opencv_object"
	name="moveToObject"
	/>
<node
	pkg="my_id_robot"
	type="find_object_opencv"
	name="opencv"
	/>
<node
	pkg="my_id_robot"
	type="servo.py"
	name="servo"
	/>
</launch>